# .gitignore
/build/
*.o
*.a
*.so
*.exe
*.out
*.log
*.swo
*.swp
*.gch
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
.vscode/
.idea/
*.bak
*.swp
*~
*.user
*.orig
*.rej
*.pyc
*.pyo
*.exe
*.dll
*.obj
*.o
*.a
*.lib
*.so
*.lo
*.la
*.al
libs/
*.ncb
*.sdf
*.suo
*.opensdf
*.cachefile
*.cache
*.VC.db
*.VC.VC.opendb
*.client/cmake-build-debug/
*.server/cmake-build-debug/
*.server/build/